<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Pagina Inicial</title>
</head>
<body>
    <section class="index">
        <div>
            <h1>Bem-vindo ao B-Productive</h1>
            <span>Organize suas tarefas de forma eficiente e aumente sua produtividade!</span>
            <p>
                O B produtive oferece uma maneira simples e intuitiva de gerenciar suas atividades 
                diárias, seja no trabalho, nos estudos ou na vida pessoal.
                Crie listas personalizadas, adicione tarefas com facilidade,
                acompanhe o progresso e nunca mais esqueça uma tarefa importante!
            </p>
            <form action="/listTask" method="get">
                <button type="submit">Comece a Gerenciar suas Tarefas</button>
            </form>
        </div>
    </section>
</body>
</html>