<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    <form action="/listTask/save" method="post">
        <header>
            <label for="titleTask">Adicionar nova tarefa:</label>
            <input type="text" name="titleTask" id="titleTask">
            <button type="submit">Adicionar</button>
        </header>
    </form>
    <section>
        <% tasks.forEach(task => {%>
            
                <div>
                    <h1><%= task.title%></h1>
                    <button>Visualizar</button>
                    <form action="/listTask/delete/<%= task.id %>" method="post">
                        <button type="submit">Excluir</button>
                    </form>
                </div>
        <% }) %>
    </section>
</body>
</html>