<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
</head>
<body>
    <header>
        <label for="addTarefa">Adicionar nova tarefa:</label>
        <input type="text" name="addTarefa">
        <button type="submit">Adicionar</button>
    </header>
    <section>
        
    </section>
</body>
</html>