<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts/home.js" defer></script>
</head>
<body>
    <form id ="enviarPlaylist">
        <label for="namePlaylist">Nome da Playlist:</label>
        <input type="text" name="namePlaylist" id="namePlaylist">

        <label for="tagsPlaylist">Tags:</label>
        <input type="text" name="tagsPlaylist" id="tagsPlaylist">

        <button type="submit">Mandar</button>
    </form>
</body>
</html>